.contents {
  // background-color: aquamarine;
  margin-top: 10px;
  width:1000px;
  font-size: 15px;
  margin-left: 10px;
color: white;
background-color: black;
}
#picture {
  width:1005px;
  margin: 0px 10px 0px 10px;
}
.gitlink {
  text-align: center;
  margin: 20px 0;

}
.picture-area {
border: 3px solid black;
background-color: rgb(24, 23, 23);
}
.herf-g {
  border-radius: 20%;
  background-color: rgb(160, 43, 43); 
  color: rgb(21, 19, 19); 
  border: 2px solid #cee2d3;
  margin-bottom: 10px;
}